In [4]:
import zoo
zoo.hours()

Open 9-5 daily

Above is activity 11.1. In this activity we imported a module in order to display information that has already been defined in the "zoo.py" file.

In [7]:
>>> import zoo as menagerie
>>> menagerie.hours()

Open 9-5 daily

Above is acitivty 11.2. In this activity we imported the zoo function as menagerie and called it's hours() function.

In [9]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cur = conn.cursor()

# Execute a SELECT query to fetch the titles of books in alphabetical order
cur.execute("SELECT title FROM books ORDER BY title")

# Fetch all the results
titles = cur.fetchall()

# Print the titles of books in alphabetical order
print("Titles of books in alphabetical order:")
for title in titles:
    print(title[0])

# Close the cursor and connection
cur.close()
conn.close()

Titles of books in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

Above is activity 16.8. In this activity, we created and connected a .db file pertaining to books to the application. We then wrote code to print the book titles contained in the .db file in alphabetical order.